<%- include('partials/header') %> 

<h1>You must really love <%= animal %></h1>

<% if (animal === 'dog') { %>
    <h2>That's a good choice!</h2>
<% } else { %>
    <h2>So you have chosen death.</h2>
<% } %>

<%- include('partials/footer') %> 