body {
    font-size: 22px;
    padding-top: 70px; /* Avoids nav bar from overlapping with top content */
}

img {
    width: 600px;
    display: block;
    margin: 0 auto;
    opacity: 0.5;
    transition-duration: 0.5s;
}

img:hover {
    opacity: 1;
    transition-duration: 0.5s;
}