<%- include('partials/header.ejs') %>

<section>
    <div class="container-fluid">
      <h2 style="text-align: center;">Idea: MBTI RPG Game</h3>

      <div class="row">
          <div class="col-md-6">
              <img src="https://static.neris-assets.com/images/theory/traits/16personalities_trait_introverted.svg" class="img-thumbnail">
              <p><strong>Introverts vs. Extroverts</strong></p>
              <p>Introverts will get a status buff as long as they are alone and get their buff will get progressively weaker as more people are added tothe party.</p>
              <p>Extroverts will start will no status buff, but will get progressively stronger as more people are added to their party.</p>
          </div>

          <div class="col-md-6">
              <img src="https://static.neris-assets.com/images/theory/traits/16personalities_trait_observant.svg" class="img-thumbnail">
              <p><strong>Intuitives vs. Sensors</strong></p>
              <p>Intuitives will have access to magic skills, and Sensors will have access to physical skills.</p>
          </div>

          <div class="col-md-6">
              <img src="https://static.neris-assets.com/images/theory/traits/16personalities_trait_thinking.svg" class="img-thumbnail">
              <p><strong>Thinkers vs. Feelers</strong></p>
              <p>Thinkers will have direct damage skills, and Feelers will have access to buffs/debuffs.</p>
          </div>

          <div class="col-md-6">
              <img src="https://static.neris-assets.com/images/theory/traits/16personalities_trait_prospecting.svg" class="img-thumbnail">
              <p><strong>Judgers vs. Perceivers</strong></p>
              <p>Judgers will have skills with more accuracy, and Perceivers will have skills with less accuracy with higher damage potential.</p>
          </div>
      </div>

      <div>
        <h1>Progress Bars Can Be Used to Track Health/Mana (Potentially Others)</h1>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress mb-3">
          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress mb-3">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress mb-3">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </section>

<%- include('partials/footer.ejs') %>


