<%- include('partials/header.ejs') %>

<section>
  <div class="container-fluid">

      <div class="jumbotron bg-dark text-white text-center">
          <h1 class="display-4"><i class="fa fa-code" aria-hidden="true"></i> Tae's Website <i class="fa fa-code" aria-hidden="true"></i></h1>
          <p class="lead"><span class="font-bold">Coding is creative.</span> It allows you to express yourself.</p>
          <p class="lead"><span class="font-bold">Coding is a hobby.</span> It can be very fun and rewarding.</p>
          <p class="lead"><span class="font-bold">Coding is inexpensive.</span> It doesn't require more money as you dive into it.</p>
          <p class="lead">You have more than enough savings to get by, so don't take it so seriously!</p>
      </div>
  </div>
</section>

<%- include('partials/footer.ejs') %>