<%- include('partials/header.ejs') %>


<section class="container">
    <h1 class="text-center">Choose Your Personality Type</h1>
    <form class="row">

      <div class="card border-0 col-3">
        <img src="img/INTJ/INTJ.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">INTJ - Architect</h5>
          <div class="form-check btn-group-lg">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          </div>
        </div>
      </div>

      <div class="card border-0 col-3">
        <img src="img/INTJ/INTJ.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">INTJ - Architect</h5>
          <div class="form-check btn-group-lg">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
          </div>
        </div>
      </div>

      <div class="card border-0 col-3">
        <img src="img/INTJ/INTJ.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">INTJ - Architect</h5>
          <div class="form-check btn-group-lg">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
          </div>
        </div>
      </div>

      <div class="card border-0 col-3">
        <img src="img/INTJ/INTJ.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">INTJ - Architect</h5>
          <div class="form-check btn-group-lg">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Start My Adventure!</button>
    </form>
  </section>

<%- include('partials/footer.ejs') %>
