<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restful Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="ui inverted menu">
        <a class="item" href="/"><i class="icon cloud upload"></i>Home</a>
        <a class="item" href="/blog/new">New Post</a>
        <a class="item" href="#">Edit Post</a>
    </div>