body, html {
    background-color: #232323;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: white;
    text-align: center;
    background: royalblue;
    margin: 0;
    padding: 20px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
}

h1 span {
    display: block;
    font-size: 3rem;
}

button {
    border: none;
    color: royalblue;
    background: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    height: 100%;
    display: inline-block;
    padding: 5px;
    transition: 0.5s;
}

button:focus {
    outline: none;
}

.selected {
    color: white;
    background: royalblue;
}

.square {
    background-color: purple;
    float: left;
    width: 30%;
    padding-bottom: 150px;
    margin: 1.6%;
    border-radius: 15%;
    transition: 0.5s;
}

#stripe {
    background-color: white;
    text-align: center;
    color: black;
}

#message {
    width: 200px;
    display: inline-block;
}

#container { width: 500px; margin: 0 auto; }



